* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#canvas {
  border: 1px solid black;
  width: 1280px;
  height: 720px;
}
